@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
    color: #333;
}

/*Nav bar*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px; 
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

nav .cart-icon {
    position: relative;
    font-size: 30px;
    color: #333;
    display: flex;
}

/*---FOOTER---*/
/* Footer */
.site_footer {
    background: #1a1a1a;
    color: #ccc;
    padding: 50px 0;
}

.footer_container {
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.8fr 0.8fr;
    gap: 40px;
}

.footer_column h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 18px;
}

.footer_column p {
    font-size: 14px;
    line-height: 1.8;
}

.footer_column ul{
    list-style: none;
    padding: 0;
}

.footer_column li{
    margin-bottom: 10px;
}

.footer_column a{
    color: #ccc;
    text-decoration: none;
    transition: .3s;
}

.footer_column a:hover{
    color: #fff;
}

.social_icons {
    display: flex;
    gap: 20px;
}

.social_icons a{
    font-size: 24px;
    color: #ccc;
}

.social_icons a:hover{
    color: #fff;
}

.view_sitemap{
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}
.view_sitemap:hover{
    color: #f5f5f5;
    padding-left: 6px;
}
/* Add this css to your responsive of footer
.footer_container{
        grid-template-columns: 1fr;
        gap: 30px;
    }
*/